
/* body */

body {
    background-color: #fff;
}

h4, h3 {
    padding-bottom: 20px;
}

p {
    overflow-y: scroll;
    max-height: 300px;
}

/* nav */
.navbar {
    background-image: linear-gradient(to left,#37003c, #e90052);
}

.navColor {
    height: auto;

    justify-items: center;
    justify-content: center;
}

#big-logo-nav {
    display: flex;
}

#big-logo-nav > a:hover{
    display: block;
    transform: scale(2.5);
    transition: transform .15s;
}

/* nav burger */

/* title */


.title {
    margin-top: 130px;
    padding: 10px 0;
    width: 100%;
    color: #fff;
    background-color: #37003c;
    
    animation : shiny 2s;

    box-shadow: 0 1px 10px #37003c;
}

.cardTitle {
    color: #37003c;
}

.cardTitle:hover {
    color: #e90052;
}


/* images */

.logo {
    height: 200px;
    width: 200px;
}

.stadium {
    object-fit: cover;
}

/* card design */

.borderCard {
    border: solid 6px rgb(103, 14, 54);
    border-radius: 30px;
    background-color: #ffffff6d;
}

.borderCardLight {
    border: solid 2px rgb(103, 14, 54);
}

#titleStadium {
    margin-top: 30px;
}

/* footer */

.colorfooter {
    margin-top: 20px;
    height: auto;
    background-image: linear-gradient(#e90052, #37003c);
}

.colorfooter img {
    width: 100%;
}

@keyframes shiny {
    0% {
        background-color:#e90052;
    }

    50% {
        background-image: linear-gradient(to right, #e90052, #37003c);
    }

    75% {
        background-image: linear-gradient(to right,#37003c, #e90052);
    }

    100% {
        background-color:#37003c;
    }
}